.card-photo{
    width: 200px;
    height: 250px;
    margin-top: 20px;
    object-fit: cover;
    object-position: top;
    box-shadow:  2px 2px 10px 2px black;

}
.card-emblem{
    width: 60px;
    height: 60px;
}
.card-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 22px;
    align-items: center;
    min-height: 44px;
}
.card-name{
    margin: 0 25px 0 0;
    text-align: left;
}
.card-alive{
    margin: 0;
}
