.photo-card{
    width: 250px;
    height: 300px;
}
.emblem-card{
    width: 60px;
    height: 60px;
}
.info-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    align-items: baseline;
}
.name-card{
    margin: 0;
}
.house-card{
    margin: 0;
}