.card-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}
.card{
    width: 300px;
    height: 400px;
    background-color: rgb(0, 0, 0);
    color:white;
    text-align: center;
    margin-bottom: 10px;
}