body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../src/images/a8ff26868209e9ef468b559247330274.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 100vh;
}

ul{
  list-style: none;
  padding: 0;
}
